@tailwind base;
@tailwind components;
@tailwind utilities;



/* inter */
.inter-thin {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.inter-light {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inter-black {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* inter */

/* roboto */
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* roboto */

/* poppins */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* poppins */

/* raleway */
.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.raleway-medium {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.raleway-semibold {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.raleway-extrabold {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.raleway-black {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* raleway */

/* "Bebas Neue" */
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-medium {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.bebas-neue-semibold {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.bebas-neue-bold {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.bebas-neue-extrabold {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.bebas-neue-black {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* "Bebas Neue" */


/* btn */
.btn {
  @apply px-6 py-4 font-bold bg-[#FEBF00] text-[#0A1425] uppercase
}

/* social buttons */
.btn_social {
  @apply p-4 rounded-full border border-[#E5E7EB] cursor-pointer
}

/* react tabs selection */
.react-tabs__tab--selected {
  @apply bg-[#B52B1D] text-white
}

/* swiper */
.swiper {
  display: flex !important;
  flex-direction: column-reverse !important;
}



.swiper-button-prev,
.swiper-button-next {
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
}

@media (max-width: 767px) {
  .swiper {
    display: block !important;
    flex-direction: column-reverse !important;
  }
}

/* bar */
.offcanvas.active {
  left: 0;
}